<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="app2019">
  <description>Puyo Coding Standard</description>
  <rule ref="PSR12">
    <exclude name="PSR12.Operators.OperatorSpacing.NoSpaceBefore"/>
    <exclude name="PSR12.Operators.OperatorSpacing.NoSpaceAfter"/>
    <exclude name="PSR2.Classes.PropertyDeclaration.Underscore"/>
    <exclude name="Squiz.Functions.FunctionDeclarationArgumentSpacing.SpaceBeforeEquals"/>
    <exclude name="Squiz.ControlStructures.ForEachLoopDeclaration.NoSpaceAfterArrow"/>
    <exclude name="Squiz.ControlStructures.ForEachLoopDeclaration.NoSpaceBeforeArrow"/>
    <exclude name="Squiz.Functions.MultiLineFunctionDeclaration.SpaceAfterFunction"/>
    <exclude name="Squiz.Functions.FunctionDeclarationArgumentSpacing.SpaceAfterDefault"/>
    <exclude name="Squiz.Functions.MultiLineFunctionDeclaration.BraceOnSameLine"/>
    <exclude name="Squiz.ControlStructures.ControlSignature.SpaceAfterKeyword"/>
    <exclude name="PSR12.Files.FileHeader.SpacingAfterBlock"/>

    <!-- <?php declare(strict_types=1); と書いてるので不採用 -->
    <exclude name="PSR12.Files.OpenTag.NotAlone"/>

    <!-- 行数増えすぎるので不採用 -->
    <exclude name="PSR2.Methods.FunctionCallSignature.MultipleArguments"/>
  </rule>
</ruleset>
